ion-footer {
	text-align: center;
	background-color: #f5f5f5;
	color: silver;
	padding: 10px;
}

#top-content {
	position: relative;
	height: 200px;
	background-image: url(../../assets/neuronas.png);
	background-size: cover;
	background-position: center;
}

#logo {
	width: 225px;
	height: 225px;
	border-radius: 125px;
	background-color: #fff;
	box-shadow: 0 0 8px #6bb1e4;
	margin: auto;
	left: 0;
	right: 0;
	position: absolute;
	bottom: -65px;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 70%;
		margin: auto;
	}
}

#bottom-content {

	padding: 70px 20px 0;
	text-align: center;

	#center-block {
		margin: auto;
		width: 100%;
		height: max-content;
		h4 {
			font-weight: 550;
			opacity: .85;
			font-size: 16px;
			letter-spacing: 2px !important;
			margin-bottom: 0 !important;
		}
		h3 {
			font-weight: 700;
			font-size: 29px;
			margin-top: 4px !important;
			margin-bottom: 10px !important;
		}
	}
	
}
