// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  ion-back-button {
    --color: red;
  }
  
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #6bb1e4;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    // --ion-color-primary: #428cff;
    // --ion-color-primary-rgb: 66,140,255;
    // --ion-color-primary-contrast: #ffffff;
    // --ion-color-primary-contrast-rgb: 255,255,255;
    // --ion-color-primary-shade: #3a7be0;
    // --ion-color-primary-tint: #5598ff;

    // --ion-color-secondary: #50c8ff;
    // --ion-color-secondary-rgb: 80,200,255;
    // --ion-color-secondary-contrast: #ffffff;
    // --ion-color-secondary-contrast-rgb: 255,255,255;
    // --ion-color-secondary-shade: #46b0e0;
    // --ion-color-secondary-tint: #62ceff;

    // --ion-color-tertiary: #6bb1e4;
    // --ion-color-tertiary-rgb: 107,177,228;
    // --ion-color-tertiary-contrast: #ffffff;
    // --ion-color-tertiary-contrast-rgb: 255,255,255;
    // --ion-color-tertiary-shade: #5c94bc;
    // --ion-color-tertiary-tint: #79a6c7;

    // --ion-color-success: #2fdf75;
    // --ion-color-success-rgb: 47,223,117;
    // --ion-color-success-contrast: #000000;
    // --ion-color-success-contrast-rgb: 0,0,0;
    // --ion-color-success-shade: #29c467;
    // --ion-color-success-tint: #44e283;

    // --ion-color-warning: #ffd534;
    // --ion-color-warning-rgb: 255,213,52;
    // --ion-color-warning-contrast: #000000;
    // --ion-color-warning-contrast-rgb: 0,0,0;
    // --ion-color-warning-shade: #e0bb2e;
    // --ion-color-warning-tint: #ffd948;

    // --ion-color-danger: #ff4961;
    // --ion-color-danger-rgb: 255,73,97;
    // --ion-color-danger-contrast: #ffffff;
    // --ion-color-danger-contrast-rgb: 255,255,255;
    // --ion-color-danger-shade: #e04055;
    // --ion-color-danger-tint: #ff5b71;

    // --ion-color-dark: #f4f5f8;
    // --ion-color-dark-rgb: 244,245,248;
    // --ion-color-dark-contrast: #000000;
    // --ion-color-dark-contrast-rgb: 0,0,0;
    // --ion-color-dark-shade: #d7d8da;
    // --ion-color-dark-tint: #f5f6f9;

    // --ion-color-medium: #989aa2;
    // --ion-color-medium-rgb: 152,154,162;
    // --ion-color-medium-contrast: #000000;
    // --ion-color-medium-contrast-rgb: 0,0,0;
    // --ion-color-medium-shade: #86888f;
    // --ion-color-medium-tint: #a2a4ab;

    // --ion-color-light: #222428;
    // --ion-color-light-rgb: 34,36,40;
    // --ion-color-light-contrast: #ffffff;
    // --ion-color-light-contrast-rgb: 255,255,255;
    // --ion-color-light-shade: #1e2023;
    // --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  // .ios body {
  //   --ion-background-color: #ffffff;
  //   --ion-background-color-rgb: 0,0,0;

  //   --ion-text-color: #ffffff;
  //   --ion-text-color-rgb: 255,255,255;

  //   --ion-color-step-50: #0d0d0d;
  //   --ion-color-step-100: #1a1a1a;
  //   --ion-color-step-150: #262626;
  //   --ion-color-step-200: #333333;
  //   --ion-color-step-250: #404040;
  //   --ion-color-step-300: #4d4d4d;
  //   --ion-color-step-350: #595959;
  //   --ion-color-step-400: #666666;
  //   --ion-color-step-450: #737373;
  //   --ion-color-step-500: #808080;
  //   --ion-color-step-550: #8c8c8c;
  //   --ion-color-step-600: #999999;
  //   --ion-color-step-650: #a6a6a6;
  //   --ion-color-step-700: #b3b3b3;
  //   --ion-color-step-750: #bfbfbf;
  //   --ion-color-step-800: #cccccc;
  //   --ion-color-step-850: #d9d9d9;
  //   --ion-color-step-900: #e6e6e6;
  //   --ion-color-step-950: #f2f2f2;

  //   --ion-toolbar-background: #0d0d0d;

  //   --ion-item-background: #000000;
  // }


  // /*
  //  * Material Design Dark Theme
  //  * -------------------------------------------
  //  */

  // .md body {
  //   --ion-background-color: #ffffff;
  //   --ion-background-color-rgb: 18,18,18;

  //   --ion-text-color: #ffffff;
  //   --ion-text-color-rgb: 255,255,255;

  //   --ion-border-color: #222222;

  //   --ion-color-step-50: #1e1e1e;
  //   --ion-color-step-100: #2a2a2a;
  //   --ion-color-step-150: #363636;
  //   --ion-color-step-200: #414141;
  //   --ion-color-step-250: #4d4d4d;
  //   --ion-color-step-300: #595959;
  //   --ion-color-step-350: #656565;
  //   --ion-color-step-400: #717171;
  //   --ion-color-step-450: #7d7d7d;
  //   --ion-color-step-500: #898989;
  //   --ion-color-step-550: #949494;
  //   --ion-color-step-600: #a0a0a0;
  //   --ion-color-step-650: #acacac;
  //   --ion-color-step-700: #b8b8b8;
  //   --ion-color-step-750: #c4c4c4;
  //   --ion-color-step-800: #d0d0d0;
  //   --ion-color-step-850: #dbdbdb;
  //   --ion-color-step-900: #e7e7e7;
  //   --ion-color-step-950: #f3f3f3;

  //   --ion-item-background: #1e1e1e;

  //   --ion-toolbar-background: #1f1f1f;

  //   --ion-tab-bar-background: #1f1f1f;
  // }
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  border-radius: 50px;
  border: 1px solid #6bb1e4;
  display: table;
  width: 100%;
  .input-addon {
    float: left;
    padding: 8px 0;
    text-align: center;
    color: #6bb1e4;
    width: 50px;
    border-right: 1px solid #f5f5f5;
    font-size: 22px;
    ion-icon {
      position: relative;
      top: 2px;
    }
  }
  input {
    width: calc(100% - 50px);
    background: none;
    padding: 13px;
    border: none;
    outline: none !important;
  }
}

a {
  color: #6bb1e4;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: violet;
  }
}

.btn-mh {
  width: 100%;
  background-color: #50a1fd;
  color: #fff;
  padding: 13px;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 15px;
  outline: none !important;
  &[disabled] {
    opacity: 0.5;
  }
}

.tv {
  color: #707794;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  ion-icon {
    margin-top: -6px !important;
  }
}

#pain {
  // height: 50px;
  // border: 1px solid #6bb1e4;
  // border-radius: 4px;
  // background: -webkit-linear-gradient(left, crimson, gold, lime);
  // margin-bottom: 10px;
  position: relative;
  #indicator {
    position: absolute;
    border-right: 1px solid #6bb1e4;
    height: 100%;
    width: 1px;
  }
}

.line-2 {
  border-bottom: 1px solid silver;
  width: 70%;
  margin: 8px auto;
  display: block;
}

.line-r {
  position: absolute;
  height: 60%;
  margin: auto;
  border-right: 1px solid silver;
  top: 0;
  bottom: 0;
  right: -1px;
}

.line {
  width: 80%;
  display: block;
  position: relative;
  margin: auto;
  border-bottom: 1px solid silver;
  margin-bottom: 15px;
}

.data-info {
  padding: 10px;
  background-color: #fdf0bb;
  color: #333;
  font-size: 13px;
  text-align: center;
  border-radius: 6px;
}

.validation-errors {
  text-align: center;
  margin-top: 3px;
  margin-bottom: -3px;
  color: crimson;
  font-size: 12px;
}

.to-right {
  width: 90%;
  margin-left: auto;
  margin-right: 0;
}
.to-left {
  width: 90%;
}

.gender-box {
  background-color: #f5f5f5;
  border-radius: 20px;
  height: 20vh;
  padding: 20px;
  div {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      display: block;
      margin: auto;
      height: 80%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
.main-box {
  background-color: #f5f5f5;
  border-radius: 6px;
  height: 130px;
  padding: 20px;
  div {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      display: block;
      margin: auto;
      width: 70%;
      max-width: 82px;
      position: absolute;
      top: -20px;
      bottom: 0;
      left: 0;
      right: 0;
    }
    span {
      position: absolute;
      bottom: -10px;
      color: #fff;
      font-size: 14px;
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  &:active {
    filter: brightness(0.9);
  }
}
.man.gender-box {
  background-color: #b4bd00;
}
.woman.gender-box {
  background-color: #e095b6;
}

.error {
  border-bottom: 1px solid crimson;
}

.text-blue {
  color: #6bb1e4;
}

.correct {
  color: lightblue;
}
.incorrect {
  color: crimson;
}

table {
  width: 100%;
  tr {
    border-bottom: 1px solid #c9c9c9;
    th {text-align: left; font-size: 12px; padding: 0 0 18px; color: #c9c9c9}
    td {text-align: left; font-size: 12px; padding: 6px 0;}
  }
}

.alert-radio-label {
  text-overflow: unset !important;
  white-space: unset !important;
  overflow: unset !important;
}
ion-title {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  text-align: center !important;
}
ion-title.ios {
  top: 0 !important;
}

.btnSelected {
  box-shadow: inset 0 0 0 2px #b49800;
  // border: 2px solid gold;
}