<ion-header>
  <ion-toolbar color="tertiary">
    <span style="margin-left: 10px; position: relative; top: 2px" slot="start">{{start+1}}/{{images.length}}</span>
    <ion-title>{{"IMAGES.img_tr_1" | translate}}</ion-title>
  	<ion-buttons slot="end">
      <ion-button icon-only (click)="panic()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	
	<ion-row no-padding>
		<ion-col size="12" style="background-color: #000; height: calc(100vh - 150px - 60px);padding: 0">
			<img *ngIf="actual" [src]="api.baseUrl+'uploads/test-images/r_'+actual.image" alt="" style="margin: auto;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;">
		</ion-col>
		<ion-col size="12" style="height: 150px; padding: 10px 20px 20px">
			<ion-row>
				<ion-col size="6" style="position: relative;">
			        <span class="line-r"></span>
			        <div class="main-box to-left" style="background-color: #6bb1e4; border-radius: 20px" (click)="changeImage('l')">
			          <div>
			            <img src="assets/left.svg" alt="" style="width: 50%;">
			            <span>{{"IMAGES.img_tr_2" | translate}}</span>
			          </div>
			        </div>
			      </ion-col>

			      <ion-col size="6">
			        <div class="main-box to-right" style="background-color: #6bb1e4; border-radius: 20px" (click)="changeImage('r')">
			          <div>
			            <img src="assets/right.svg" alt="" style="width: 50%;">
			            <span>{{"IMAGES.img_tr_3" | translate}}</span>
			          </div>
			        </div>
			      </ion-col>
			</ion-row>
		</ion-col>
	</ion-row>

</ion-content>
