<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button icon-only (click)="exit()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 0 20px">
    <h6 class="tv">{{"HOME.home_tr_1" | translate}}</h6>
    <span class="line"></span>

    <div *ngIf="medico">

      <ion-row>
        <ion-col size="6" style="position: relative;">
          <span class="line-r"></span>
          <div class="main-box to-left" style="background-color: #b4bd00" (click)="gotoFundaments()">
            <div>
              <img src="assets/brain.svg" alt="">
              <span>{{"HOME.home_tr_2" | translate}}</span>
            </div>
          </div>
        </ion-col>

        <!-- <ion-col size="6">
          <div class="main-box to-right" style="background-color: #d590af" (click)="start()">
            <div>
              <img src="assets/play.svg" alt="">
              <span>Comenzar</span>
            </div>
          </div>
        </ion-col> -->

        <ion-col size="6" style="position: relative;">
          <div class="main-box to-right" style="background-color: #eac90c" (click)="profile()">
            <div>
              <img src="assets/tasks.svg" alt="" style="left: 16px;">
              <span>{{"HOME.home_tr_3" | translate}}</span>
            </div>
          </div>
        </ion-col>

        <ion-col size="6"><span class="line-2"></span></ion-col>
        <ion-col size="6"><span class="line-2"></span></ion-col>


        <ion-col size="12">
          <div class="main-box" style="background-color: #a191c2" (click)="results()">
            <div>
              <img src="assets/stats.svg" alt="">
              <span>{{"HOME.home_tr_4" | translate}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </div>

    <div *ngIf="!medico">
      
      <ion-row>
        <ion-col size="6" style="position: relative;">
          <span class="line-r"></span>
          <div class="main-box to-left" style="background-color: #b4bd00" (click)="gotoFundaments()">
            <div>
              <img src="assets/brain.svg" alt="">
              <span>{{"HOME.home_tr_5" | translate}}</span>
            </div>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="main-box to-right" style="background-color: #d590af" (click)="start()">
            <div>
              <img src="assets/play.svg" alt="">
              <span>{{"HOME.home_tr_6" | translate}}</span>
            </div>
          </div>
        </ion-col>

        <ion-col size="6"><span class="line-2"></span></ion-col>
        <ion-col size="6"><span class="line-2"></span></ion-col>

        <ion-col size="6" style="position: relative;">
          <span class="line-r"></span>
          <div class="main-box to-left" style="background-color: #eac90c" (click)="profile()">
            <div>
              <img src="assets/tasks.svg" alt="" style="left: 16px;">
              <span>{{"HOME.home_tr_7" | translate}}</span>
            </div>
          </div>
        </ion-col>

        <ion-col size="6">
          <div class="main-box to-right" style="background-color: #a191c2" (click)="results()">
            <div>
              <img src="assets/stats.svg" alt="">
              <span>{{"HOME.home_tr_8" | translate}}</span>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <br>

      <div class="data-info">
        {{"HOME.home_tr_9" | translate}}
      </div>

    </div>


  </div>

</ion-content>
